html, main {
    background-color: rgb(55, 55, 55);
    color: white;
}

#map {
    height: 560px;
    max-width: 100%;
    border-radius: 50px 50px 50px 0px;
}

#startButton {
    width: 150px;
    position: relative;
    left: 46%;
    font-size: 35px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    margin-bottom: 5px;
    box-shadow: rgb(0, 61, 3) 0px 15px 0px 0px;
    &:hover {
        transform:  translate(0px, 15px);
        box-shadow: none;
    }
}

#speed {
    width: 50px;
}

#end, #start, #drones {
    width: 300px;
    margin: 5px 0px;
}

#compteurLat, #compteurLng {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -50px;
    right: 0;
    max-width: max-content;
}

#Lat, #Lng {
    margin-left: 5px;
}

#searchInput {
    width: 300px;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#activeContainer {
    width: max-content;
    position: relative;
    bottom: 400px;
    left: 75%;
    right: 0;
}

li {
    list-style-type: none;
}

#chargementContainer {
    position: relative; 
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: -25px;
}

#chargementBar {
    background-color: rgb(194, 194, 194);
    height: 9px; 
    width: 100%;

}

#chargementBarAnime {
    position: absolute;
    background: #9fff86;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 0%;
}

